* {
  /* background-color: red; */
  padding: 0;
  margin: 0;
}
body {
  background-color: aliceblue;
  border-style: solid;
  border-color: aliceblue;
}
.web {
  color: #8a0800
}
#o1 {
  border-style: solid;
}
